html {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/map6.jpg");
    background-repeat: no-repeat;
    background-size: 100%; 
}

.container {
    padding: 6%;
    position: relative;
    left: 9%;

}

p {
    font-family: 'Tangerine', cursive;
    font-size: 55px;
    font-weight: bold;
}

.mainpic {
    width: 640px;
    height: 360px;
}